name = "NeuralEstimators"
uuid = "38f6df31-6b4a-4144-b2af-7ace2da57606"
authors = ["Matthew Sainsbury-Dale <msainsburydale@gmail.com> and contributors"]
version = "0.1.5"

[deps]
BSON = "fbb218c0-5317-5bc6-957e-2ee96dd4b1f0"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
Folds = "41a02a25-b8f0-4f67-bc48-60067656b558"
InvertedIndices = "41ab1584-1d38-5bbf-9106-f11c6c58b48f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NNlib = "872c559c-99b0-510c-b3b7-b6c96a88d5cd"
NamedArrays = "86f7a689-2022-50b4-a561-43c23ac3c673"
ParameterSchedulers = "d7d3b36b-41b8-4d0d-a2bf-768c6151755e"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"

[weakdeps]
AlgebraOfGraphics = "cbdf2221-f076-402e-a563-3d30da359d67"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
GraphNeuralNetworks = "cffab07f-9bc2-4db1-8861-388f63bf7694"
CairoMakie = "13f3f980-e62b-5c42-98c6-ff1f3baf88f0"
ColorSchemes = "35d6a980-a343-548e-a6ea-1d62b119f2f4"
Metal = "dde4c033-4e86-420c-a63e-0dd931031962"
cuDNN = "02a925ec-e4fe-4b08-9a7e-0d78e3d38ccd"

[extensions]
NeuralEstimatorsCUDAExt = "CUDA"
NeuralEstimatorsGNNExt = "GraphNeuralNetworks"
NeuralEstimatorsMetalExt = "Metal"
NeuralEstimatorsPlotExt = ["AlgebraOfGraphics", "CairoMakie", "ColorSchemes"]

[compat]
AlgebraOfGraphics = "0.8, 0.9, 0.10, 0.11, 0.12"
BSON = "0.3"
CSV = "0.10"
CUDA = "4, 5"
CairoMakie = "0.12, 0.13, 0.14, 0.15"
ColorSchemes = "2, 3"
DataFrames = "1"
Distances = "0.10, 0.11"
Flux = "0.16"
Folds = "0.2"
GraphNeuralNetworks = "1"
InvertedIndices = "1"
Metal = "1"
NNlib = "0.9"
NamedArrays = "0.9, 0.10"
ParameterSchedulers = "0.4"
Printf = "1.10, 1.11"
SpecialFunctions = "2"
Statistics = "1"
StatsBase = "0.33, 0.34"
StatsFuns = "1"
cuDNN = "1"
julia = "1.10, 1.11"

[extras]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
cuDNN = "02a925ec-e4fe-4b08-9a7e-0d78e3d38ccd"
GraphNeuralNetworks = "cffab07f-9bc2-4db1-8861-388f63bf7694"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["CUDA", "Test", "cuDNN", "GraphNeuralNetworks"]
